body {
  background-image: url('testios.jpg'); /* Replace 'your-image.jpg' with the path to your background image */
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  margin: 0;
  
  padding: 0;
  width: 100%;
  height: 100%;
}
.conto {
  display: flex;
 overflow: hidden;
 justify-content: center;
flex-wrap: wrap;
  align-items: center;
  margin: 15px;
  color: black;
 
}
.contactios{
  border-radius: 5px;
  box-shadow: 10px 125px 125px rgb(19, 19, 129);
  overflow: hidden;
  margin: 10px;
  
}
.contactios:hover{
border-radius: 5px;
box-shadow: 10px 125px 125px rgb(19, 19, 129);
overflow: hidden;
margin: 10px;

}
.button {
  padding: 5px;
  background-color:rgb(170, 170, 245);
  border: none;
  border-radius:5px;
  font-size: 18px;
  overflow: hidden;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: #333;
 
  
}
.button:hover .contactios{
  border-radius: 20px;
}
.button:hover{
  border-radius: 20px;
  background-color:black ;
}
.background-image .listos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.background-image .listos ul:not(:last-child) {
  margin-bottom: 80px;
  
   /* Adjust the margin value for reduced spacing */
}

.background-image .listos li {
  color: black;
  position: relative;
  list-style-type: none;
  text-align:justify;
  margin: 25px;

  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 40px;
}
.background-image .listos li1 {
  color: rgb(19, 19, 129);
  position: relative;
font-weight: bolder;
  font-family: 'Oswald';
 
  font-size: 70px;
  list-style-type: none;
  letter-spacing: 2.5px;
  margin-left: 30px;
 
}
.background-image .listos ul li:before {
  content: "\25B6";
  color: rgb(19, 19, 129);
  margin: 5px;
}

.orange-link:hover{
  text-decoration: underline ;

  text-decoration-color:rgb(170, 170, 245) ;
 text-decoration-thickness: 5px;
}
.orange-link1:hover{
  text-decoration: underline ;
  text-decoration-color: rgb(19, 19, 129);
  text-decoration-thickness: 5px;
}
.orange-link1{
  color: rgb(19, 19, 129);
  text-decoration: none;  
  margin-right: 90px;
  font-family:'Oswald' ; /* Change the font family */
  font-size: 18px;
  text-align: center;
}
.container {
  background: black;
  padding: 0;
  margin-top: 0;
 display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: relative;
  z-index: 1;

}

.logo img {
  max-height: 100px;
  margin-left: 30px;
}

.links {
 display:flex;
}

.orange-link {
  color:  rgb(170, 170, 245);
  text-decoration: none;  
  margin-right: 90px;
  text-align: center;
  font-family:'Oswald' ; /* Change the font family */
  font-size: 18px; /* Change the font size */
}










.contain{
  display: flex;
  overflow: hidden;
  justify-content:center;
 flex-wrap: wrap;
   align-items:flex-start;
   margin: 15px;
  
   color: black;
  

}


.contain .card{
  
  background-color:black;
 
  
  font-size: 18px;
 
  margin: 50px;
  border-radius: 10px;
 
  width: 500px; /* Adjust the width to your desired size */
  height:500px; /* Adjust the height to your desired size */
  overflow: hidden; 
 
}

.contain .card:hover .cont {
 
  text-decoration: underline;
  text-decoration-thickness: 5px;

}


.contain .card .cont {
  color: rgb(170, 170, 245);
  opacity: 1;

  
  padding: 40px;
 
  text-align: center;
  justify-content: center;
 
}






.contain .card .overlay {
  background-color: rgba(0, 0, 0, 0); /* Add transparency to the overlay on hover */
}


h1{
  display: flex;
  justify-content: center;
  font-size: 100px;
  font-family: 'Oswald';
  align-items: center;
  height: 50px; /* Adjust the height of the header as needed */
  color: rgb(19, 19, 129); /* Set the background color of the header */
}





.image-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.card .im{
  position: relative; /* Position the image within the card */
width: 500px;
height: 300px;
 margin-top: 20px;
  align-self: center;
  justify-self: center;
  object-fit: cover;
 
  opacity: 1; /* Start with opacity set to 0 */
 

  
}






.text-container {
  white-space: nowrap;
  margin-top: 10px;
}








h2{
  font-family: 'Oswald';
  font-size: 30px;
  font-weight: bolder;
 
}
.card-link {
  display: block; /* Make the link cover the entire card area */
  text-decoration: none; /* Remove underline on the link */
  color: inherit; /* Inherit the text color from the parent */
}
section{
  position: relative;
  min-height: 100vh;
  width: 100%;
  
  overflow: hidden;
}



.wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.wrap .coco{
  position: relative;
  width: 500px;
  height: 300px;
  color:rgb(19, 19, 129);
  background: black;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 20px;
  transition: 0.3s ease;
  font-family: 'Oswald';

}
.wrap .coco .profile{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
 top: -10px;
  width:100%;
  display: block;
}
.wrap .coco .profile .imgBox{
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid rgb(19, 19, 129);
  border-radius: 50%;
  overflow: hidden;
  font-family: 'Oswald';
}
.wrap .coco .profile .imgBox img{  
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;

}
.wrap .coco .profile .imgBox:hover img{
  filter: saturate(140%);
  transform: scale(0.95);
}
.wrap .coco p{
  margin-top: 80px;
  color: rgb(170, 170, 245);
  padding: 0 8px;
  font-size: 25px;
  opacity: 0.8;
  word-wrap: break-word;
text-align: center;
}
.wrap .coco .left{
  font-size: 30px;
  display: block;
  text-align: left;
  color: yellow
}
.wrap .coco .right{
font-size: 30px;
display: block;
text-align: right;
position: absolute;
top: 280px;
left: 490px; 
color:yellow;
}

@media (max-width: 430px) {
.orange-link#testo{
  display: none;
 }
.container{
  width: 120%;
}
#container1{
  width: 100%;
}
.contactios img{
  width: 360px; /* Set the maximum width to 360 pixels */
  height: auto; /* Maintain aspect ratio */
  margin-right: -50px;
}
.conto{
  transform: scale(0.8);
position: absolute;
 left: -100px;

}
h1{
  font-size: 50px;
}
}
